.container{ 

height: 650px;
align-content: space-between;
align-items: center;
background-color: rgba(162, 113,207, 0.691)

}

.item{
    background-color: rgba(122, 230, 194, 0.787) ;
    margin: 15px;
    image-rendering: 100px;
    
}

.shrek{
    background-color: rgba(122, 230, 194, 0.787) ;
    height: 100px;
    margin: 15px;
}

.burro{
    background-color: rgba(122, 230, 194, 0.787);
    height: 100px;
    margin: 15px;
}

.fiona{
    background-color: rgba(122, 230, 194, 0.787) ;
    height: 100px;
    margin: 15px;
}
.gato{
    background-color: rgba(122, 230, 194, 0.787) ;
    height: 100px;
    margin: 15px;
}
.pinocho{
    background-color: rgba(122, 230, 194, 0.787) ;
    height: 100px;
    margin: 15px;
}